body {
  background-color: #eee;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #21272d;
}

h1 {
    font-weight:600;
    font-size:2.1em;
    margin:0.5em 0 1em;
}

h2 {
    font-size:1.5em;
    margin:0.5em 0 1em;
    font-weight:600;
}

h3 {
    font-size:1.3em;
    font-weight:600;
}

h4 {
    font-size:1.2em;
    font-weight:600;
}

hr {
  border-top-color: #ddd;
}

.navbar {
  border-bottom: black 1px solid;
  margin-bottom: 0px;
  background-color: white;
}

nav .brand img {
  padding: 20px;
}

.site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;

  color: #eee;
}

section {
  border-bottom: #ccc 1px solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

section.clients h2,
section.services h2,
section.about h2,
section.contact h2 {
  display: inline-block;
}

section.clients .subtitle,
section.services .subtitle,
section.about .subtitle,
section.contact .subtitle {
  display: inline-block;
  margin-left: 2px;
  color: #848484;
}

.grid, .content {
  margin-top: 20px;
}

section.clients {
  background-color: #f7f7f7;
}
