<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.inc.title }}</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/{{ site.inc.logo }}"/>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.inc.gplus }}">{% endif %}
    {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
    {% if page.main_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.main_image }}"/>
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/{{ site.inc.logo }}"/>
    {% endif %}
    <meta property="og:description" content="{{ site.inc.description }}"/>
    <meta name="description" content="{{ site.inc.description }}"/>
    <meta property="og:site_name" content="{{ site.inc.title }}">

    <script defer data-domain="unicone.com" src="https://plausible.accruedwisdom.com/js/script.js"></script>
</head>
<body>
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <a class="brand" href="/">
            <img alt="Unicone logo" src="/images/logo.svg">
          </a>
        </div>
      </div>
    </div>
  </nav>

  {{ content }}

  <footer class="site-footer">
    <div class="container">
      &copy; {{ site.time | date: "%Y" }} <a href="{{ site.inc.url }}">Unicone Ltd.</a> Registered in England and Wales, no. 08810554
    </div>
  </footer>
</body>
</html>
